@import "custom";
@import "~bootstrap/scss/bootstrap";

body {

    max-width: 500px !important;
    margin-top: 30px !important;
    margin: auto;
    background-color: rgb(245, 243, 240);

}

.rectangle {
    padding-top: 10px;
    padding-bottom: 40px;
    width:80%;
    height: 100%;
    background-color: rgba(124,124,124,0.1);
    border:transparent;
    border-radius: 15px;
    position: center;
    margin: auto;

}

.doonServicePicker {

    font-family: 'Red Hat Display', sans-serif;

}

.servicePickerHeader {

    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

.servicePickerRectangle {

    padding: 8px;
    width:90%;
    height: 100%;
    background-color: rgba(124,124,124,0.2);
    border:transparent;
    border-radius: 15px;
    position: center;
    margin-bottom: 30px !important;
    margin: auto;

}

.generateServices {

    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;

}

#whereFrom, #whereTo {

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    display: flexbox;
    border: 1px solid #ccc;
    border-color: black;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;

}

#whereTo {

  margin-bottom: 50px;

}

#serviceProvider {

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    color: black;
    padding: 14px 25px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px !important;


}

input[type=submit] {

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    background-color: #fbdf73;
    color: black;
    padding: 14px 25px;
    margin-top: 250px !important;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

h1 {

    font-size: 25px;
    margin-bottom: 25px;

}

