@import "custom";
@import "~bootstrap/scss/bootstrap";

body {

    max-width: 500px !important;
    margin-top: 30px !important;
    margin: auto;
    background-color: rgb(245, 243, 240);

}

.rectangle {
    padding-top: 10px;
    padding-bottom: 40px;
    width:80%;
    height: 100%;
    background-color: rgba(124,124,124,0.1);
    border:transparent;
    border-radius: 15px;
    position: center;
    margin: auto;

}

.doonHistory {

    font-family: 'Red Hat Display', sans-serif;

}

.historyHeader {

    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

.historyRectangle {

    padding: 8px;
    width:90%;
    height: 100%;
    background-color: rgba(124,124,124,0.2);
    border:transparent;
    border-radius: 15px;
    position: center;
    margin-bottom: 30px !important;
    margin: auto;

}